<!DOCTYPE html>
<html>
  <head>
    <title>Controle de Notas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://mzayat.com/images/31-post-it-png-free-cliparts-that-you-can-download-to-you-computer-post-it-clipart-800_804.png"/
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
